.btn-light{
    background-color: #edae40 !important;
}
.btn-heavy{
    background-color: #069910 !important;
}
.btn-sniper{
    background-color: #9585ff !important;
}
.btn-shotgun{
    background-color: #ff0d00 !important;
}
.btn-energy{
    background-color: #a6ff00 !important;
}