.btn-light{
    background-color: #edae40 !important;
}
.btn-light:active,.btn-heavy:active,.btn-light:hover{
    background-color: #000000 !important;
}
.btn-heavy{
    background-color: #069910 !important;
}
.btn-sniper{
    background-color: #9585ff !important;
}
.btn-shotgun{
    background-color: #ff0d00 !important;
}
.btn-energy{
    background-color: #a6ff00 !important;
}
.lightwep{
    background-color: black;
}
.icon{
    height: 10px;
    width:20px;
}