.btn{
  max-width:150px !important;
}
.btn-allw{
    background-color: lightcoral !important;
}
.btn-lightw{
    background-color: #edae40 !important;
}
.btn-active{
    background-color: #464c4d !important;
    color: white;
    border-color: #464cd4;
}
.btn-heavyw{
    background-color: #069910 !important;
}
.btn-sniperw{
    background-color: #9585ff !important;
}
.btn-shotgunw{
    background-color: #ff0d00 !important;
}
.btn-energyw{
    background-color: #a6ff00 !important;
}
.btn-specialw{
    background-color: #ff0037 !important;
}
.btn-padding{
    padding:0px 24px !important;
    margin:0px 2px !important;
}
.icon{
    height: 10px;
    width:20px;
}